@color_1: #2c3d51;
@color_2: #e4e4e4;
@font_family_1: Lato, sans-serif;
@background_color_1: #e4e4e4;
@background_color_2: #f4f4f4;
@background_color_3: #2c3d51;
@border_color_1: #2c3d51;


.btn-photo{
    background-color: @background_color_1; 
    width: 452px;
    height: 452px;
    border: 1px solid black;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 250%;
    //padding: 20px 0px;
    margin-left: 150px;
    margin-top:8px;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
   // float: left; 
}

 

.btn-photo:hover {
    background-color:@color_1;
}

.btn-primary {
	width: 100px;
	background-color: @background_color_1;
	color: @color_1;
	margin-top: -3px;
	border-radius: 0px;
}

.btn-confirm {
	width: 200px;
        height:50px;
	margin-left: 20px;//60px;
	margin-top: 50px;
	margin-right: 90px;
	color: @color_1;
	font-size: 22px;
	font-family: @font_family_1;
	background-color: @background_color_2;
	
}




.radioButton{
        height: 30px;
	font-family: @font_family_1;
	float:left;
	font-size: 20px;
        //padding-left: 95px;
	//padding-right: 260px; //250
	padding-top: 15px;
        
}

body {
	background-color: @background_color_1;
}

.btn-link {
	width: 200px;
	height: 160px;
	background-color: @background_color_2;
	background-image: url("0px");
	font-size: 22px;
	color: @color_1;
	padding: 0px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	border-color: @border_color_1;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;

}

img {
	margin: 0 auto;
	margin-top: 15px;
	width: 70px;
	height: 70px;
	display: block;
}

div {
	text-align: center;
}


.container {
        margin-top: 100px;
        padding-right: 0%;
        padding-left: 0%;
}

.column {
    float: left; 
    width: 50%;
    padding: 0px; //5px
    margin-top: 40px;
    margin-left: 0px;//-30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

//from here we try grid-column
* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}








//it ends here

@media (max-width: 1200px) { 

    row {
        width:100%;
        margin:0px;	
        padding:0px;
    }
}
