.login-dark {
  height:calc(~"100vh");
  background: url(image/o-ELDERLY-facebook.jpg);
  background-repeat:no-repeat;
  position:relative;
  background-position:center;
  background-color:#2c3d51;
}

.login-dark .resident {
  max-width:1200px;
  max-height:1000px;
  background-color:#2c3d51;
  padding:50px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  width:74%;
  height:75%;
  min-height:300px;
}

.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#ffffff;
}

.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .btn-primary {
  background:#214a80;
  border:none;
  border-radius:0px;
  padding:11px;
  box-shadow:none;
  text-shadow:none;
  outline:none;
  font-family:Lato, sans-serif;
  font-size:18px;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}

.container {
  margin:0px;
  width:auto;
  height:auto;
  padding:0px;
}

div {
  width:auto;
  height:100vh;
}

.col-md-6 {
  padding:0px;
}

.btn.btn-primary.btn.pull-right {
      width: 450px;
    background-color: #f4f4f4;
    background-image: url(0px);
    color: #2c3d51;
    font-size: 24px;
    border: 1px solid #2c3d51;
    border-radius: 0px;
    font-family: Lato, sans-serif;
    position: absolute;
    top: 1%;
    right: 1%;
}

.residentLoginTitle {
    position: absolute;
    height: fit-content;
    z-index: 1;
    font-size: 28px;
    font-family: Lato,sans-serif;
    top: 5px;
    left: 73px;
}

.btn.btn-primary.btn.pull-left {
    height: 5%;
    background-color: #f4f4f4;
    background-image: 0px;
    color: #2c3d51;
    font-size: 18px;
    border-color: #2c3d51;
    min-height: 40px;
    border-radius: 0px;
    font-family: Lato, sans-serif;
    top: 1%;
    position: absolute;
}

#ENbtn{
    left:70px;
}

#NLbtn{
    left:1%;
}

