@color_1: #2c3d51;
@color_2: #e4e4e4;
@font_family_1: Lato, sans-serif;
@background_color_1: #e4e4e4;
@background_color_2: #f4f4f4;
@background_color_3: #2c3d51;
@border_color_1: #2c3d51;

@font_size:0px;

.btn.btn-primary {
    width: fit-content;
    background-color: @background_color_1;
    background-image: url("0px");
    color: @color_1;
    margin-top: -6px;
    border-radius: 0px;
    border-color: @color_1;
    font-size: 20px;
    font-family: Lato, sans-serif;
}

#btnSkip {
    background: #f5f5f5;
    position: absolute;
    top: 73px;
    right: 6px;
    width: 200px;
}

.btn.btn-default {
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: @color_1;
    font-size: 22px+@font_size;
    font-family: @font_family_1;
    height: 160px;
    background-color: @background_color_2;
    background-image: url("0px");
    border-color: @color_1;
    border-radius: 0;
}
.text-right {
    background-color: @background_color_3;
    height: 60px;
    font-family: @font_family_1;
    color: @color_2;
    font-size: 20px+@font_size;
    padding-right: 20px;
    padding-top: 15px;
}
.text-center {
    color: @color_1;
    font-size: 24px+@font_size;
    font-family: @font_family_1;
    display: flex;
    padding-right: 60px;
    padding-left: 60px;
    display: block;
    margin-bottom: 0px;
}
body {
    background-color: @background_color_1;
}
.h1 {
    margin-top: 0px;
    height: 0px;
    margin-bottom: 0px;
}
h1 {
    margin-top: 0px;
    height: 0px;
    margin-bottom: 0px;
}
.h2 {
    height: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    color: @color_2;
    font-size: 30px+@font_size;
    margin-right: 0px;
    padding-top: 15px;
    font-family: @font_family_1;
}
h2 {
    height: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    color: @color_2;
    font-size: 30px+@font_size;
    margin-right: 0px;
    padding-top: 15px;
    font-family: @font_family_1;
}

.image_topic {
    width: 60px+@font_size*6;
    height: 60px+@font_size*6;
}

.btn-link {
    width: 235px;
    height: 205px;
    background-color: @background_color_2;
    background-image: url("0px");
    font-size: 20px+@font_size;
    color: @color_1;
    padding: 0px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-color: @border_color_1;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;


}

img {
    margin: 0 auto;
    margin-top: 15px;
    width: 70px;
    height: 70px;
    display: block;
}
.small {
    font-size: 30px+@font_size;
    font-family: @font_family_1;
    color: @color_1;
    display: block;
}
small {
    font-size: 20px+@font_size;
    font-family: @font_family_1;
    color: @color_1;
    display: block;
}
div {
    text-align: center;
}
.float_left {
    float: left;
    font-size: 30px+@font_size;
    font-family: @font_family_1;
    margin-left: 20px;
    margin-top: -5px;
}
.float_right {
    margin-top: 13px;
    font-family: @font_family_1;
    font-size: 20px+@font_size;
}
.container {
    margin-top: 100px;
    padding-right: 20%;
    padding-left: 20%;
}
.notactive {
    pointer-events: none;
    cursor: default;
}

#questionForm{
     display: flex;
     flex-direction: column;
         
}
